.header-wrapper {
    display: flex;
    align-items: center;
}
.header-nav .navbar {
    display: inline-block;
}
.header-img-logo {
    margin-right: 14px;
    max-width: 164px;
    height: 77px;
}
.header-span {
    margin-left: 3px;
    display: inline-block;
    width: 129px;
    height: 45px;
    font-size: 12px;
    line-height: 15.28px;
    font-weight: 400;
}
.navbar-list {
    margin-left: 35px;
    padding-left: 0;
    display: flex;
    list-style: none;
}
.nav-item {
    font-size: 16px;
    line-height: 15.92px;
    font-weight: 400;
}
.nav-item:not(:last-child) {
    margin-right: 20px;
}
.header-contact {
    margin-left: 40px;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 400;
    text-decoration: none;
    color: black;

}
.contact-span {
    margin-right: 63px;
    display: block;
    font-size: 20px;
    line-height: 24.26px;
    font-weight: 400;
    color: black;
}
.text-lg {
    color: black;
}
.navbar-responsiv {
    display: none;
}
/*Responsive */
@media (max-width: 1535px) {
    .container {
        max-width: 120px;
    }
    .header-wrapper {
        display: flex;
    }
    .header-span {
        margin-right: 45px;
        font-size: 12px;
        font-weight: 400;
        line-height: 15.92px;
    }

    .nav-item {
        font-size: 16px;
        font-weight: 400;
    }
    .nav-item:not(:last-child) {
        margin-right: 15px;
    }


    .navbar-responsiv {
        display: none;
    }
    .header-contact{
        font-size: 20px;
        position: absolute;
        top: 15px;
        right: 150px;
    }

    .translate {
        position: absolute;
        top: 30.5px;
        right: 30px;
    }
    .translate-select {
        width: 49px;
        height: 29px;
    }
}
@media (max-width: 1400px) {

    .header-wrapper {
        display: flex;
    }
    .header-span {
        margin-right: 45px;
        font-size: 12px;
        font-weight: 400;
        line-height: 15.92px;
    }
    .nav-item {
        font-size: 16px;
        font-weight: 400;
    }
    .nav-item:not(:last-child) {
        margin-right: 15px;
    }


    .navbar-responsiv {
        display: none;
    }
    .header-contact{
        font-size: 20px;
        position: absolute;
        top: 15px;
        right: 150px;
    }

    .translate {
        position: absolute;
        top: 30.5px;
        right: 30px;
    }
    .translate-select {
        width: 49px;
        height: 29px;
    }
}
@media (max-width: 1300px) {
    .header-wrapper {
        display: flex;
    }
    .header-span {
        margin-right: 45px;
        font-weight: 400;
    }
    navbar-list {
        margin: 0;
    }
    .nav-item {
        font-size: 16px;
        font-weight: 400;
    }
    .nav-item:not(:last-child) {
        margin-right: 9px;
    }
    .navbar-responsiv {
        display: none;
    }
    .header-contact{
        position: absolute;
        top: 15px;
        right: 80px;
    }

    .translate {
        position: absolute;
        top: 30.5px;
        right: 30px;
    }
    .translate-select {
        width: 49px;
        height: 29px;
    }
}
@media (max-width: 1200px) {
    .header-wrapper {
        display: flex;
    }
    .header-span {
        margin-right: 45px;
        font-weight: 400;
    }
    navbar-list {
        margin: 0;
    }
    .nav-item {
        font-size: 16px;
        font-weight: 400;
    }
    .nav-item:not(:last-child) {
        margin-right: 9px;
    }
    .navbar-responsiv {
       display: none;
    }
    .header-contact{
        position: absolute;
        top: 15px;
        right: 40px;
    }

    .translate {
        position: absolute;
        top: 30.5px;
        right: 30px;
    }
    .translate-icon {
        display: none;
    }
    .translate-select {
        width: 49px;
        height: 29px;
    }
}
@media (max-width: 1024px) {
    .header-wrapper {
        display: inline-block;
    }
    .translate-icon {
        display: inline-block;
        margin-right: 22px;
    }

    .header-img-logo  {
        margin-top: 10px;
        width: 119px;
        height: 65px;
        z-index: 5;
    }
    .header-span {
        position: absolute;
        top: 24px;
        left: 305px;
    }
    .navbar, .header-contact, .contact-span {
        display: none;
    }
    .navbar-responsiv {
        position: absolute;
        top: 21.5px;
        left: 750px;
        display: inline-block;

    }
    .translate {
        position: absolute;
        top: 30.5px;
        left: 530px;
    }
    .translate-select {
        width: 49px;
        height: 29px;
    }
}
@media (max-width: 900px) {
    .header-wrapper {
        display: inline-block;
    }
    .translate-icon {
        display: inline-block;
        margin-right: 22px;
    }

    .header-img-logo  {
        margin-top: 10px;
        width: 119px;
        height: 65px;
        z-index: 5;
    }
    .header-span {
        position: absolute;
        top: 24px;
        left: 250px;
    }
    .navbar, .header-contact, .contact-span {
        display: none;
    }
    .navbar-responsiv {
        position: absolute;
        top: 21.5px;
        left: 650px;
        display: inline-block;

    }
    .translate {
        position: absolute;
        top: 30.5px;
        left: 500px;
    }
    .translate-select {
        width: 49px;
        height: 29px;
    }
}
@media (max-width: 768px) {
    .header-wrapper {
        display: inline-block;
    }

    .header-img-logo  {
        margin-top: 20px;
        margin-right: 45px;
        width: 59px;
        height: 39px;
        z-index: 5;
    }
    .header-span {
        position: absolute;
        top: 24px;
        left: 200px;
    }
    .navbar, .header-contact, .contact-span,  .translate-icon {
        display: none;
    }
    .navbar-responsiv {
        position: absolute;
        top: 21.5px;
        left: 430px;
        display: inline-block;

    }
    .translate {
        position: absolute;
        top: 30.5px;
        left: 590px;
    }
    .translate-select {
        width: 49px;
        height: 29px;
    }
}
@media (max-width: 668px) {
    .header-span {
        position: absolute;
        left: 150px;
    }
    .navbar-responsiv {
          position: absolute;
          top: 21.5px;
          left: 355px;
          display: inline-block;
      }
    .translate {
        position: absolute;
        top: 30.5px;
        left: 518px;
    }

}
@media (max-width: 568px) {
    .header-wrapper {
        display: inline-block;
    }
    .header-img-logo  {
        margin-top: 20px;
        margin-right: 45px;
        width: 59px;
        height: 39px;
        z-index: 5;
    }
      .navbar, .header-contact, .contact-span,  .translate-icon {
        display: none;
    }
    .navbar-responsiv {
        position: absolute;
        top: 21.5px;
        left: 280px;
        display: inline-block;
    }

    .translate {
        position: absolute;
        top: 30.5px;
        left: 435px;
    }
    .translate-select {
        width: 49px;
        height: 29px;
    }
}
@media (max-width: 505px) {
    .header-wrapper {
        display: inline-block;
    }
    .header-span {
        position: absolute;
        top: 28px;
        left: 89px;
    }
    .header-img-logo  {
        margin-top: 20px;
        margin-right: 45px;
        width: 59px;
        height: 39px;
        z-index: 5;
    }
      .navbar, .header-contact, .contact-span,  .translate-icon {
        display: none;
    }
    .navbar-responsiv {
        position: absolute;
        top: 21.5px;
        left: 225px;
        display: inline-block;

    }
    .translate {
        position: absolute;
        top: 30.5px;
        left: 380px;
    }
    .translate-select {
        width: 49px;
        height: 29px;
    }
}
@media (max-width: 440px) {
    .header-wrapper {
        display: inline-block;
    }
    .header-img-logo  {
        margin-top: 20px;
        margin-right: 45px;
        width: 59px;
        height: 39px;
        z-index: 5;
    }
      .navbar, .header-contact, .contact-span,  .translate-icon {
        display: none;
    }
    .navbar-responsiv {
        position: absolute;
        top: 21.5px;
        left: 205px;
        display: inline-block;
    }
    .header-span {
        text-align: center ;
        width: 300px;
        position: absolute;
        top: 78px;
        left: 70px;
    }
    .translate {
        position: absolute;
        top: 30.5px;
        left: 365px;
    }
    .translate-select {
        width: 49px;
        height: 29px;
    }
}
@media (max-width: 409px) {
    .header-wrapper {
        display: inline-block;
        /*align-items: center;*/
    }
    .header-span {
        width: 300px;
        position: absolute;
        top: 78px;
        left: 40px;
        }

    .header-img-logo  {
        margin-top: 20px;
        margin-right: 45px;
        width: 59px;
        height: 39px;
        z-index: 5;
    }
   .navbar, .header-contact, .contact-span,  .translate-icon {
        display: none;
    }
    .navbar-responsiv {
        position: absolute;
        top: 21.5px;
        left: 128px;
        display: inline-block;

    }
    .translate {
        position: absolute;
        top: 30.5px;
        left: 290px;
    }
    .translate-select {
        width: 49px;
        height: 29px;
    }
}
@media (max-width: 370px) {
    .header-wrapper {
        display: inline-block;
        /*align-items: center;*/
    }

    .header-img-logo  {
        margin-top: 20px;
        margin-right: 45px;
        width: 59px;
        height: 39px;
        z-index: 5;
    }
 .navbar, .header-contact, .contact-span,  .translate-icon {
        display: none;
    }
    .navbar-responsiv {
        position: absolute;
        top: 21.5px;
        left: 178px;
        display: inline-block;

    }
    .translate {
        position: absolute;
        top: 30.5px;
        left: 329px;
    }
    .translate-select {
        width: 49px;
        height: 29px;
    }
}
