.grant {

}

.grant-wrap {
    display: flex;
    justify-content: space-between;
}

.grant-img {
    max-width: 602px;
    height: 500px;
    margin-right: 46px;
}

.grant-activ-title {
    margin: 0 auto;
    margin-bottom: 108px;
}

.grant-title, .grant-innertitle {
    font-size: 22px;
    line-height: 1.55;
    font-weight: 500;
}

.grant-list {
    margin-left: 18px;

}

.grant-text, .grant-item {
    font-size: 14px;
    line-height: 1.55;
}

.gran-text {
}

.grant-item {
    position: relative;
}

.grant-item:before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 8px;
    left: -16px;
    width: 7px;
    width: 7px;
    height: 7px;
    background-color: black;
    border-radius: 100%;
}

/*Responsive*/

@media (max-width: 1280px) {
    .grant-innerWrap {
        max-width: 1000px;
    }

    .grant-wrap {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .grant-innerWrap {
        position: relative;
        top: 8px;
        left: 68px;
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
    }

    .grant-activ-topwrap {
        position: relative;
        top: 7px;
        right: 89px;
        max-width: 400px;
        margin-left: 50px;
    }

    .grant-activ-endwrap {
        max-width: 500px;
    }

    .grant-img {
        max-width: 602px;
        height: 500px;
        margin-right: 46px;
    }
}

@media (max-width: 1024px) {
    .grant-wrap {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .grant-img {
        margin-bottom: 64px;
    }
    .grant-title, .grant-innertitle {
        margin-left: 45px;
        text-align: center;
    }
        .grant-innerWrap {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .grant-activ-topwrap {
        position: relative;
        right: 81px;
    }

    .grant-activ-endwrap {
        position: relative;
        right: 8px;

    }
}