
* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.App-container {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}
/*// topic section /*/
.topic-inner-wrap {
    height: 250px !important;
}

@media (max-width: 420px) {
    .foryou-title {
        font-size: 22px !important;

    }

    .hero-endspan {
        font-size: 20px !important;
        text-align: center;
        margin-top: 20px;
    }
}

.w-\[322px\] {
    width: 287px !important;
}

.ant-collapse {
    background: #fff !important;

}

.ant-collapse-content {
    border: none !important;
}


.ant-collapse-header {
    padding-bottom: 29px !important;
}

.anticon > svg {
    top: 15px;
    left: 9px;
    position: relative;
    min-width: 40px !important;
    min-height: 40px !important;
    background-color: #5FACA9 !important;
    border-radius: 100% !important;
    display: block;

}

.anticon > svg path:nth-of-type(1) {
    fill: white !important;
}

.anticon > svg path:nth-of-type(2) {
    fill: #5FACA9 !important;

}
@media (min-width: 640px) and (max-width: 768px) {
    .text-white:not(last-child) {
        margin-bottom: 10px !important;
    }

}
