.hero{
  background-image: url(../images/saroy.png);
  background-position: calc(50% + 211px) calc(50% - -29px);
  background-size: 1052px 742px;
  background-repeat: no-repeat;
  margin-bottom: 132px;
}

.hero-span {
  display: inline-block;
  margin-top: 58px;
  margin-bottom: 48px;
  color: #333333;
  font-size: 18px;
  line-height: 1.35;
  font-weight: 400;
}
.hero-span::before {
  content: "";
  position: relative;
  top: -6px;
  left: -20px;
  width: 35.44px;
  height: 1px;
  margin-left: 30px;
  margin-top: 25px;
  display: inline-block;
  background-color: green;
}
.hero-wrap {
  max-width: 770px;
}
.hero-title {
  margin-bottom: 84px;
  font-size: 54px;
  line-height: 1.35;
  font-weight: 400;
}
.hero-text {
  margin-left: 45px;
  color: #333333;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}
.hero-text::after {
  position: relative;
  top: -56px;
  left: -33px;
  display: block;
  background-image: url(../images//decoration.svg);
  width: 50px;
  height: 91px;
  background-repeat: no-repeat;
  content: "";
}
.hero-textbigwrap {
  display: flex;
  align-items: center;
}
.hero-texwrapone {
  max-width: 198px;

}
.hero-textwrapfirs {
  max-width: 295px;
  margin-left: 55px;
}
.hero-button {
  color: #333333;
  font-weight: 300;
}
.hero-endspan {
  color: #333333;
  font-size: 16px;
  line-height: 1.35;
  font-weight: 500;
}
@media (max-width: 1024px)  {
  .hero {
    background-position: calc(50% + 63px) calc(50% - -14px);
    background-size: 1070px 810px;
  }
  .hero-title {
    font-size: 37px !important;
    max-width: 400px;
    margin-left: 20px;
  }
  .hero-textbigwrap {
    display: flex;
    flex-wrap: wrap;
  }
  .hero-textone {
    position: relative;
    top: 80px;
  }
  .hero-textwrapfirs {
    margin-top: 190px;
    position: relative;
    top: 225px;
    right: 255px;
  }
  .hero-button {
    margin-top: 100px;
    top: 100px;
  }
  .hero-endspan {
    display: none;
  }
  .ant-flex {
    /*margin: 0;*/
  }
}
@media (max-width: 740px)  {
  .hero {
    background-position: calc(50% + 111px) calc(44% - -33px);
  }

}
@media (max-width: 650px)  {
  .hero {
    background-position: calc(50% + 93px) calc(44% - -100px);
    background-size: 790px 610px;
  }

  .hero-title {
    font-size: 20px;
    margin-top: 0  !important;
  }
  .hero-span {
    margin-left: 29px;
  }
  .hero-span::before {
    display: none;
  }
  .hero-textone {
   display: none;
  }
  .hero-texttwo {
   display: none;
  }

  .hero-button {
    position: relative;
    top: 67px;
    left: 20px;
  }
  .hero-endspan {
    display: none;
  }
}
@media (max-width: 588px)  {
  .hero-title {
  font-size: 30px !important;
  }
  .hero-span {
    margin-left: 29px;
  }
  .hero-span::before {
    display: none;
  }
  .foryou-title {
    font-size: 25px !important;
    margin-top: 0 !important;
  }

  .hero-textone {
    position: relative;
    top: 33px;
  }
  .hero-texttwo {
    position: relative;
    bottom: 40px;
    left: 200px;
  }

  .hero-button {
    position: relative;
    top: 135px;
    left: 20px;
  }
  .hero-endspan {
    text-align: center;
    position: relative;
    top: 155px;
    left: 20px;
  }
}
@media (max-width: 450px) {
  .hero-title {
    /*font-size: 22px !important;*/
    align-items: center;
    font-weight: 500 !important;
  }
  .hero-texttwo {
    position: relative;
    bottom: 4px;
    left: 200px;
  }
  .hero-button {
    position: relative;
    top: 126px;
    left: 20px;
  }
  .hero-endspan {
 display: none  !important;
  }
  .foryou-title {
    text-align: center;
    font-size: 20px !important;
    /*background-color: #090808;*/
  }
  .hero-span {
    /*display: none;*/
  }
}
@media (max-width: 400px)  {
  .hero-span {
    display: none !important;
  }
  .hero-title {
    position: relative;
    top: 115px;
    margin-left: 18px;
    font-size: 22px !important;
    font-weight: 400  ;
  }
  .hero-textone {
    width: 100%;
    position: relative;
    bottom: 20px;

  }
.grant-title {
  position: relative;
  top: -75px;
  text-align: center;
  font-weight: 500  ;
  font-size: 20px !important;
}
  .hero-texttwo {
  display:  none;
  }

  .hero-endspan {
    position: absolute;
    top: 1300px;
    right: 55px;
    display: flex;
    font-size: 24px;
  }
  .foryou-title {
    margin-top: 52px !important;
    /*background-color: red;*/
    font-size: 17px !important;

  }
}